<AddressBaseDefs>
  <AddressBase baseName="RC01_RAIL_CHANGER_W" device="W" baseAddress="0000F"/>
  <AddressBase baseName="RC02_RAIL_CHANGER_W" device="W" baseAddress="0001F"/>
  <AddressBase baseName="RC03_RAIL_CHANGER_W" device="W" baseAddress="0002F"/>
  <AddressBase baseName="RC04_RAIL_CHANGER_W" device="W" baseAddress="0003F"/>
  <AddressBase baseName="RC05_RAIL_CHANGER_W" device="W" baseAddress="0004F"/>
  <AddressBase baseName="RC06_RAIL_CHANGER_W" device="W" baseAddress="0005F"/>
  <AddressBase baseName="RC07_RAIL_CHANGER_W" device="W" baseAddress="0006F"/>
  <AddressBase baseName="RC08_RAIL_CHANGER_W" device="W" baseAddress="0007F"/>
  <AddressBase baseName="RC09_RAIL_CHANGER_W" device="W" baseAddress="0008F"/>
  <AddressBase baseName="RC10_RAIL_CHANGER_W" device="W" baseAddress="0009F"/>
  <AddressBase baseName="RC11_RAIL_CHANGER_W" device="W" baseAddress="000AF"/>
  <AddressBase baseName="RC12_RAIL_CHANGER_W" device="W" baseAddress="000BF"/>
  <AddressBase baseName="RC13_RAIL_CHANGER_W" device="W" baseAddress="000CF"/>
  <AddressBase baseName="RC14_RAIL_CHANGER_W" device="W" baseAddress="000DF"/>
  <AddressBase baseName="RC15_RAIL_CHANGER_W" device="W" baseAddress="000EF"/>
  <AddressBase baseName="RC16_RAIL_CHANGER_W" device="W" baseAddress="000FF"/>
  <AddressBase baseName="RC17_RAIL_CHANGER_W" device="W" baseAddress="0010F"/>
  <AddressBase baseName="RC18_RAIL_CHANGER_W" device="W" baseAddress="0011F"/>
  <AddressBase baseName="RC19_RAIL_CHANGER_W" device="W" baseAddress="0012F"/>
  <AddressBase baseName="RC20_RAIL_CHANGER_W" device="W" baseAddress="0013F"/>
  <AddressBase baseName="RC21_RAIL_CHANGER_W" device="W" baseAddress="0014F"/>
  <AddressBase baseName="RC22_RAIL_CHANGER_W" device="W" baseAddress="0015F"/>
  <AddressBase baseName="RC23_RAIL_CHANGER_W" device="W" baseAddress="0000F"/>
  <AddressBase baseName="RC24_RAIL_CHANGER_W" device="W" baseAddress="0001F"/>
  <AddressBase baseName="RC25_RAIL_CHANGER_W" device="W" baseAddress="0002F"/>
  <AddressBase baseName="RC26_RAIL_CHANGER_W" device="W" baseAddress="0003F"/>
  <AddressBase baseName="RC27_RAIL_CHANGER_W" device="W" baseAddress="0004F"/>
  <AddressBase baseName="RC28_RAIL_CHANGER_W" device="W" baseAddress="0005F"/>
  <AddressBase baseName="RC29_RAIL_CHANGER_W" device="W" baseAddress="0006F"/>
  <AddressBase baseName="RC30_RAIL_CHANGER_W" device="W" baseAddress="0007F"/>
  <AddressBase baseName="RC31_RAIL_CHANGER_W" device="W" baseAddress="0008F"/>
  <AddressBase baseName="RC32_RAIL_CHANGER_W" device="W" baseAddress="0009F"/>
  <AddressBase baseName="RC33_RAIL_CHANGER_W" device="W" baseAddress="000AF"/>
  <AddressBase baseName="RC34_RAIL_CHANGER_W" device="W" baseAddress="000BF"/>
  <AddressBase baseName="RC35_RAIL_CHANGER_W" device="W" baseAddress="000CF"/>
  <AddressBase baseName="RC36_RAIL_CHANGER_W" device="W" baseAddress="000DF"/>
  <AddressBase baseName="RC37_RAIL_CHANGER_W" device="W" baseAddress="000EF"/>
  <AddressBase baseName="RC38_RAIL_CHANGER_W" device="W" baseAddress="000FF"/>
  <AddressBase baseName="RC39_RAIL_CHANGER_W" device="W" baseAddress="0010F"/>
  <AddressBase baseName="RC40_RAIL_CHANGER_W" device="W" baseAddress="0011F"/>
  <AddressBase baseName="RC41_RAIL_CHANGER_W" device="W" baseAddress="0012F"/>
  <AddressBase baseName="RC42_RAIL_CHANGER_W" device="W" baseAddress="0013F"/>


  <AddressBase baseName="RC01_RAIL_CHANGER_STATUS_R" device="W" baseAddress="003E8"/>
  <AddressBase baseName="RC02_RAIL_CHANGER_STATUS_R" device="W" baseAddress="003F8"/>
  <AddressBase baseName="RC03_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00408"/>
  <AddressBase baseName="RC04_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00418"/>
  <AddressBase baseName="RC05_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00428"/>
  <AddressBase baseName="RC06_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00438"/>
  <AddressBase baseName="RC07_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00448"/>
  <AddressBase baseName="RC08_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00458"/>
  <AddressBase baseName="RC09_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00468"/>
  <AddressBase baseName="RC10_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00478"/>
  <AddressBase baseName="RC11_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00488"/>
  <AddressBase baseName="RC12_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00498"/>
  <AddressBase baseName="RC13_RAIL_CHANGER_STATUS_R" device="W" baseAddress="004A8"/>
  <AddressBase baseName="RC14_RAIL_CHANGER_STATUS_R" device="W" baseAddress="004B8"/>
  <AddressBase baseName="RC15_RAIL_CHANGER_STATUS_R" device="W" baseAddress="004C8"/>
  <AddressBase baseName="RC16_RAIL_CHANGER_STATUS_R" device="W" baseAddress="004D8"/>
  <AddressBase baseName="RC17_RAIL_CHANGER_STATUS_R" device="W" baseAddress="004E8"/>
  <AddressBase baseName="RC18_RAIL_CHANGER_STATUS_R" device="W" baseAddress="004F8"/>
  <AddressBase baseName="RC19_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00508"/>
  <AddressBase baseName="RC20_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00518"/>
  <AddressBase baseName="RC21_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00528"/>
  <AddressBase baseName="RC22_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00538"/>
  <AddressBase baseName="RC23_RAIL_CHANGER_STATUS_R" device="W" baseAddress="003E8"/>
  <AddressBase baseName="RC24_RAIL_CHANGER_STATUS_R" device="W" baseAddress="003F8"/>
  <AddressBase baseName="RC25_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00408"/>
  <AddressBase baseName="RC26_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00418"/>
  <AddressBase baseName="RC27_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00428"/>
  <AddressBase baseName="RC28_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00438"/>
  <AddressBase baseName="RC29_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00448"/>
  <AddressBase baseName="RC30_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00458"/>
  <AddressBase baseName="RC31_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00468"/>
  <AddressBase baseName="RC32_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00478"/>
  <AddressBase baseName="RC33_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00488"/>
  <AddressBase baseName="RC34_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00498"/>
  <AddressBase baseName="RC35_RAIL_CHANGER_STATUS_R" device="W" baseAddress="004A8"/>
  <AddressBase baseName="RC36_RAIL_CHANGER_STATUS_R" device="W" baseAddress="004B8"/>
  <AddressBase baseName="RC37_RAIL_CHANGER_STATUS_R" device="W" baseAddress="004C8"/>
  <AddressBase baseName="RC38_RAIL_CHANGER_STATUS_R" device="W" baseAddress="004D8"/>
  <AddressBase baseName="RC39_RAIL_CHANGER_STATUS_R" device="W" baseAddress="004E8"/>
  <AddressBase baseName="RC40_RAIL_CHANGER_STATUS_R" device="W" baseAddress="004F8"/>
  <AddressBase baseName="RC41_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00508"/>
  <AddressBase baseName="RC42_RAIL_CHANGER_STATUS_R" device="W" baseAddress="00518"/>
</AddressBaseDefs>