<appSettings>
  <add key="BC_ID" value="AMHS"/>
  <!-- MemHisLogDir : Log放置位置 -->
  <add key="MemHisLogDir" value="c:\Temp\EAPS\logs" />
  <!-- MemHisLogZipDir : Log壓縮檔放置位置 -->
  <add key="MemHisLogZipDir" value="c:\Temp\EAPS\logs\archive" />
  <add key="ContentRootDir" value="c:\Temp\EAPS\user-data" />
  <add key="LogUnzipDir" value="c:\Temp\EAPS\tmp" />
  <!-- Share Memory Application Config Begin -->

  <!-- SECSConversactionTimeout : SECS的Conversation Timeout-->
  <add key="SECSConversactionTimeout" value="60"/>
  <!-- InitialTimeoutSec : 初始Time out秒數 -->
  <add key="InitialTimeoutSec" value="4" />
  <!-- InitialRetryCount : 初始Time out最高可重複次數 -->
  <add key="InitialRetryCount" value="2" />
  <!-- <add key="BitWriteRange" value="B0100-B011E"/> --><!-- Share Memory Application Config End -->
  <!-- TX Log Path -->
  <add key="TxLogPath" value="c:\Temp\EAPS\txlog" />
  <!-- <add key="TxAssemblyName" value="EAPWinForm"/> -->
  <add key="TxAssemblyName" value="ScriptControl" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
  <!--<add key="EAP_UI_Floor" value="2F" />-->
  <!-- InitialPortCount : 初始PortCount -->
  <add key="PortCount" value="3" />
  <add key="LimitCount" value="700" />
  <!-- LicenseKeyVandor : 1:Taiwan、2:China-->
  <add key="LicenseKeyVandor" value="2" />

  <add key="IncludeSECSModule" value="N"/>
  <add key="IncludeDB" value="N"/>
  <add key="EAPSecsAgentName" value="MES_TO_BC"/>
  <add key="nhibernate-logger" value="com.mirle.ibg3k0.bcf.Common.NHibernate.NHibernateNLogFactory, BlockControlFramework"/>
  <!-- SelValDefSectionName：指定目前用來設定Value Define的Section名稱。若有多組，請以';'(分號)作為區隔 -->
  <!--<add key="SelValDefSectionName" value="ValueDefs;BitValueDefs;MES_ValueDefs"/>-->
  <add key="SelValDefSectionName" value="ValueDefs"/>
  <add key="CsvConfig" value="\Config\AMHS\CSV\" />
  <add key="NatsURL" value="127.0.0.1" />
  <add key="ElasticURL" value="192.168.70.204" />
  <add key="WebAPIURL" value="127.0.0.1" />
  <!-- Host Socket Connection -->
  <add key="Host_Sever_IP" value="127.0.0.1" />
  <add key="Host_Sever_Port" value="12346" />
  <add key="Host_Sever_Timeout" value="4" />
  <!-- gRPC Socket Connection -->
  <add key="gRPC_Sever_Port" value="12345" />
  <add key="gRPC_Sever_Timeout" value="3000" />
  <!-- DefaultAccount -->
  <add key="EAP_UserID" value="ADMIN" />
  <add key="EAP_Password" value="hello@123" />
</appSettings>