<MQEnvironments>
  <MQ id="LCS" defaultPrimarySelect="LCSMQ" secondarySelect="LCSMQ" mqType="MSMQ"
      waitIntervalSec="60" secondaryRetryIntervalSec="10" retryCountThreshold="10" fabID="" encode="iso-8859-1">
    <item name="LCSMQ" description="Test" QMgrName="Test"
          ChannelName="laptop-ahdjdlsa.SVRCONN" Host="localhost" port="1517"
          OutputQueName="SHARE.REPLY" SpareGWName="null"/>
  </MQ>
  <MQ id="MES" defaultPrimarySelect="MESMQ" secondarySelect="MESMQ" mqType="MSMQ"
      waitIntervalSec="60" secondaryRetryIntervalSec="10" retryCountThreshold="10" fabID="" encode="UTF-8">
    <item name="MESMQ" description="Test" QMgrName="Test"
          ChannelName="laptop-ahdjdlsa.SVRCONN" Host="localhost" port="1517"
          OutputQueName="SHARE.REPLY" SpareGWName="null"/>
  </MQ>
</MQEnvironments>