<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="D:\KoreSemi_RailChanger_System_Log\" />
  <variable name="layoutDF" value="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger} ${level:uppercase=true}]: ${message} ${onexception:inner=${newline} ${exception:format=ToString}}"/>

  <variable name="layoutLogUtility" value="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}: ${message} ${onexception:inner=${newline} ${exception:format=ToString}}"/>
  <targets>


    <target name="file" xsi:type="File" fileName="${logDirectory}/System.log" layout="${layoutDF}"
            archiveFileName="${logDirectory}/Archive/System_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"/>
    <target name="MPCTipMessageLog" xsi:type="File" fileName="${logDirectory}/MPCTipMessageLog.log" layout="${layoutDF}"
	        archiveFileName="${logDirectory}/Archive/MPCTipMessageLog_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"/>
    <target name="NHibernate" xsi:type="File" fileName="${logDirectory}/NHibernate.log" layout="${layoutDF}"
            archiveFileName="${logDirectory}/Archive/NHibernate_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"/>

    <target name="valueEventfile" xsi:type="File" fileName="${logDirectory}/evnet.log" layout="${layoutDF}"
	        archiveFileName="${logDirectory}/Archive/evnet_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"/>

    <target name="OperationLogger" xsi:type="File" fileName="${logDirectory}/OperationLogger.log" layout="${layoutDF}"
	        archiveFileName="${logDirectory}/Archive/OperationLogger_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"/>
    <target name="DebugUse" xsi:type="File" fileName="${logDirectory}/DebugUse/DebugUse.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger} ${level:uppercase=true}]: ${message}"
      archiveFileName="${logDirectory}/Archive/DebugUse/DebugUse_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
    archiveEvery="Day" keepFileOpen="false"/>

    <!--<target name="BMemoryBuffer" xsi:type="File" fileName="${logDirectory}/BMemoryBuffer.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${logger}|${level:uppercase=true}]: ${message}" maxArchiveFiles="14" archiveEvery="Day" archiveFileName="${logDirectory}/archive/BMemoryBuffer_{#}.log" />-->
    <target name="WMemoryBuffer" xsi:type="File" fileName="${logDirectory}/WMemoryBuffer.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${logger}|${level:uppercase=true}]: ${message}" maxArchiveFiles="14" archiveEvery="Day" archiveFileName="${logDirectory}/archive/WMemoryBuffer_{#}.log" />
    <target name="WMemoryCostTime" xsi:type="File" fileName="${logDirectory}/WMemoryCostTime.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${logger}|${level:uppercase=true}]: ${message}" maxArchiveFiles="14" archiveEvery="Day" archiveFileName="${logDirectory}/archive/WMemoryCostTime_{#}.log" />


    <target name="MPLCConnectionControl" xsi:type="File" fileName="${logDirectory}/MPLCConnectionControl.log" layout="${layoutDF}"
			archiveFileName="${logDirectory}/Archive/MPLCConnectionControl_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
            archiveEvery="Day" keepFileOpen="false"/>
    <target name="MPLCHandShakeTimeoutLogger" xsi:type="File" fileName="${logDirectory}/MPLCHandShakeTimeoutLogger.log" layout="${layoutDF}"
	        archiveFileName="${logDirectory}Archive//MPLCHandShakeTimeoutLogger_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
            archiveEvery="Day" keepFileOpen="false"/>
    <target name="TriggerEventQueue" xsi:type="File" fileName="${logDirectory}/TriggerEventQueue.log" layout="${layoutDF}"
	        archiveFileName="${logDirectory}/Archive/TriggerEventQueue_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
            archiveEvery="Day" keepFileOpen="false"/>
    <target name="PLC_EQ" xsi:type="File" fileName="${logDirectory}/PLC_EQ.log" layout="${layoutLogUtility}"
            archiveFileName="${logDirectory}/Archive/PLC_EQ_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"/>

    <target name="MQ_ForHost" xsi:type="File" fileName="${logDirectory}/MQ_ForHost.log" layout="${layoutLogUtility}"
            archiveFileName="${logDirectory}/Archive/MQ_ForHost_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
      archiveEvery="Day" keepFileOpen="false"/>

    <target name="System_Console" xsi:type="File" fileName="${logDirectory}/System_Console.log" layout="${layoutLogUtility}"
            archiveFileName="${logDirectory}/Archive/System_Console_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false"/>
    
    <target name="TrxLogger" xsi:type="File" fileName="${logDirectory}/TrxLogger.log" layout="${layoutLogUtility}"
            archiveFileName="${logDirectory}/Archive/TrxLogger_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false" />

    <target name="MES_Trx" xsi:type="File" fileName="${logDirectory}/TrxLogger_MES.log" layout="${layoutLogUtility}"
            archiveFileName="${logDirectory}/Archive/TrxLogger_MES_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false" />

    <target name="LCS_Trx" xsi:type="File" fileName="${logDirectory}/TrxLogger_LCS.log" layout="${layoutLogUtility}"
            archiveFileName="${logDirectory}/Archive/TrxLogger_LCS_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false" />
    
    <target name="Error" xsi:type="File" fileName="${logDirectory}/Error.log" layout="${layoutLogUtility}"
            archiveFileName="${logDirectory}/Archive/Error_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
			archiveEvery="Day" keepFileOpen="false" />

    <target name="CommandCheck" xsi:type="File" fileName="${logDirectory}/CommandCheck.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger}]: ${message}"
                archiveFileName="${logDirectory}/Archive/CommandCheck_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
          archiveEvery="Day" keepFileOpen="false" />

    <target name="ToLCSCommandCheck" xsi:type="File" fileName="${logDirectory}/ToLCSCommandCheck.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger}]: ${message}"
                archiveFileName="${logDirectory}/Archive/ToLCSCommandCheck_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
          archiveEvery="Day" keepFileOpen="false" />

    <target name="JobRouteModify" xsi:type="File" fileName="${logDirectory}/JobRouteModify.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger}]: ${message}"
                archiveFileName="${logDirectory}/Archive/JobRouteModify_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
          archiveEvery="Day" keepFileOpen="false" />

    <target name="ASRSRequest" xsi:type="File" fileName="${logDirectory}/ASRSRequest.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger}]: ${message}"
                archiveFileName="${logDirectory}/Archive/ASRSRequest_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
          archiveEvery="Day" keepFileOpen="false" />

    <target name="WebAPI" xsi:type="File" fileName="${logDirectory}/WebAPI.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger}]: ${message}"
                archiveFileName="${logDirectory}/Archive/WebAPI_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
          archiveEvery="Day" keepFileOpen="false" />

    <target name="CrrInsert" xsi:type="File" fileName="${logDirectory}/CrrInsert.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger}]: ${message}"
               archiveFileName="${logDirectory}/Archive/CrrInsert_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
         archiveEvery="Day" keepFileOpen="false" />
    <target name="DBError" xsi:type="File" fileName="${logDirectory}/DBError.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger}]: ${message}"
                   archiveFileName="${logDirectory}/Archive/DBError_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
             archiveEvery="Day" keepFileOpen="false" />
    <target name="RobotCommandSystem" xsi:type="File" fileName="${logDirectory}/RobotCommandSystem.log" layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff} ${logger}]: ${message}"
               archiveFileName="${logDirectory}/Archive/RobotCommandSystem_{#}.log" maxArchiveFiles="90" archiveNumbering="Date"
         archiveEvery="Day" keepFileOpen="false" />

  </targets>
  <rules>
    <logger name="MPCTipMessageLog" minlevel="Info" writeTo="MPCTipMessageLog" final="true" />
    <!-- Line Logger Begin ... 
        ValueEvnet、ValueWrite的logger name一律是main eqpt name
        Trasaction的logger name一律是main eqpt name在加上『_Trx』-->

    <!-- Line Logger End-->
    <logger name="TriggerEventQueue" minlevel="OFF" writeTo="TriggerEventQueue" final="true" />
    <logger name="MPLCHandShakeTimeoutLogger" minlevel="Debug" writeTo="MPLCHandShakeTimeoutLogger" final="true" />
    <logger name="WMemoryBuffer" minlevel="Warn" writeTo="WMemoryBuffer" final="true" />
    <logger name="WMemoryCostTime" minlevel="Info" writeTo="WMemoryCostTime" final="true" />
    <logger name="com.mirle.ibg3k0.bcf.Controller.ValueRead" minlevel="Info" writeTo="valueEventfile" final="true" />
    <logger name="com.mirle.ibg3k0.bcf.Common.NHibernate.NHibernateNLogLogger" minlevel="Warn" writeTo="NHibernate" final="true"/>
    <logger name="com.mirle.ibg3k0.bcf.Common.DBConnection" minlevel="Debug" writeTo="NHibernate" final="true"/>
    <logger name="com.mirle.ibg3k0.MPLCConnectionControl.*" minlevel="Warn" writeTo="MPLCConnectionControl" final="true"/>


    <logger name="OperationLogger" minlevel="Info" writeTo="OperationLogger" final="true" />
    <logger name="DebugUse" minlevel="OFF" writeTo="DebugUse" final="true" />

    <logger name="System Log" minlevel="Info" writeTo="file" />
    <logger name="com.mirle.ibg3k0.bc.winform.*" minlevel="Info" writeTo="file" />
    <logger name="com.mirle.ibg3k0.bcf.Common.MPLC.TrxMPLC" minlevel="Info" writeTo="file" />
    <logger name="com.mirle.ibg3k0.stc.Common.SEUtility" minlevel="Info" writeTo="file" />
    <logger name="com.mirle.ibg3k0.bcf.App.BCFApplication" minlevel="Warn" writeTo="file" />
    <logger name="com.mirle.ibg3k0.sc.App.SCApplication" minlevel="Info" writeTo="file" />
    <logger name="com.mirle.ibg3k0.sc.BLL.LineBLL" minlevel="Info" writeTo="file" />
    <logger name="com.mirle.ibg3k0.sc.BLL.*" minlevel="Info" writeTo="file" />
    <logger name="com.mirle.ibg3k0.sc.Common.SCUtility" minlevel="Info" writeTo="file" />
    <logger name="com.mirle.ibg3k0.bcf.License.AutomationLicenseKey" minlevel="Info" writeTo="file" />

    <logger name="PLC_ForEQ" minlevel="Info" writeTo="PLC_EQ" />
    <logger name="System_Console_Log" minlevel="Info" writeTo="System_Console" />
    <logger name="TrxLogger" minlevel="Debug" writeTo="TrxLogger" final="false"/>
    <logger name="MES_Trx" minlevel="Debug" writeTo="MES_Trx" final="false"/>
    <logger name="LCS_Trx" minlevel="Debug" writeTo="LCS_Trx" final="false"/>
    
    <logger name="MQ_ForHost" minlevel="Info" writeTo="MQ_ForHost" />

    <logger name="*" level="Error" writeTo="Error" />
    <logger name="CommandCheck" level="Info" writeTo="CommandCheck" />
    <logger name="ToLCSCommandCheck" level="Info" writeTo="ToLCSCommandCheck" />
    <logger name="ASRSRequest" level="Info" writeTo="ASRSRequest" />
    <logger name="WebAPI" level="Info" writeTo="WebAPI" />
    <logger name="CrrInsert" level="Info" writeTo="CrrInsert" />
    <logger name="com.mirle.ibg3k0.sc.Data.DAO.*" minlevel="Warn" writeTo="DBError" />
    <logger name="RobotCommandSystem" level="Info" writeTo="RobotCommandSystem" />
    <logger name="JobRouteModify" level="Info" writeTo="JobRouteModify" />
  </rules>
</nlog>

